:root {
    --materialize-light-blue: #4aaaa5;
    --dark-blue-from-KH-img: #2f3554;
}

body {
    font-family: 'Roboto Slab', cursive, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 700;
    color: #777;
    background-image: url("../images/circles-and-roundabouts.png");
}
p {
    background: white;
    line-height: 150%;
}
li a {
    font-size: 18px;
}

/* nav styling */

nav .brand-logo {
    font-size: 2.1rem;
    font-weight: 700;
    margin: 0 auto 0 10%;
    padding: 0 10px;
    background-color: var(--materialize-light-blue);
    color: var(--dark-blue-from-KH-img);
}
nav .brand-logo:hover {
    background-color: #2f3554;
    color: var(--materialize-light-blue);
}

nav {
    background: white;
}

nav ul a {
    border-right: .25px solid lightgray;
    color: midnightblue;
}

nav ul a:last-child {
    border-right: none;
}
nav ul a:hover {
    background-color: var(--materialize-light-blue);
}
nav ul a:active {
    background-color: var(--dark-blue-from-KH-img);
}
.dropdown-content li>a {
    color: midnightblue;
}
.dropdown-content li>a:hover {
    background-color: var(--materialize-light-blue);
}
.dropdown-content li>a:active {
    background-color: var(--dark-blue-from-KH-img);
}
.sidenav li>a {
    color: midnightblue;
    border-bottom: 1px solid midnightblue;
}
.sidenav li>a:hover {
    background-color: var(--materialize-light-blue);
}
.sidenav li>a:active {
    background-color: var(--dark-blue-from-KH-img);
}
/* github and linkedin icon styling */
.dropdown-content li>a>i {
    margin: 0;
}

.navbar-toggler {
    margin: 10px auto;
}

nav .sidenav-trigger {
    background: var(--materialize-light-blue);
}

/* About Me styling */

.container h1 {
    color: var(--materialize-light-blue);
    font-weight: 700;
    margin: 20px 0;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--materialize-light-blue);
}
#img-me {
    height: 266px;
    float:left;
    margin-right: 20px;
    margin-bottom: 20px;
}
.about-me {
    overflow: auto;
}
.about-me-txt {
    font-size: 24px;
    color: black;
    margin-bottom: 20px;
}
.about-me-section {
    background: white;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 20px;
}

/* parralax styling */

.parallax-container {
    height: 300px;
}

/* table of contents and link styling */

.table-of-contents-head {
    color: black;
    border-bottom: 5px double midnightblue;
    width: fit-content;
    margin: 1rem auto;
}
.table-of-contents li {
    width: fit-content; 
    margin-bottom: 20px;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    background-color: white;
}
.table-of-contents a {
    color: #039be5;
    height: 0;
    padding: 0;
}
.table-of-contents li {
    margin-bottom: 20px;
    list-style: none;
    padding: 0;
}
.container a {
    line-height: 0;
    background-color: white;
}
.container a:hover {
    color: green;
}
.container a:active {
    color: red;
}

.container .navigation {
    display: inline-flex;
}

.container .navigation li {
    margin: auto;
}

.container .navigation a {
    background: white;
    margin-right: 10%;
}

.navigation.row {
    margin-top: 20px;
    width: 100%;
}

.full {
    width: 100%;
}

/* image styling */

.work {
    margin: 10px 0;
    overflow: auto;
}

.work img {
    width: 70%;
    border: 0 none;
    opacity: 0.9;
}

/* footer styling */

footer {
    background: #2b3f3f;
}
/* input styling */
form.row {
    margin-bottom: 0;
}

input, textarea {
    color: rgb(218, 255, 247);
}
.input-field>label, .input-field i {
    color: chartreuse;
}

input[type=text]:not(.browser-default), textarea.materialize-textarea {
    border-bottom: 1px solid chartreuse;
}
input.valid[type=text]:not(.browser-default) {
    border-bottom: 1px solid chartreuse;
}
input[type=text]:not(.browser-default):focus.valid + i {
    color: #4CAF50
}
.input-field .prefix.active, .input-field>label:not(.label-icon).active {
    color: var(--materialize-light-blue)
}
/* submit button stying */
#submit-btn {
    margin-top: 108px;
    background-color: forestgreen;
    color: #b3e5e3;
}
.footer-disclaimer {
    background-color: #2b3f3f;
    color: chartreuse;
    margin: 20px 0;
}

/* media queries */

@media only screen and (max-width: 738px) {
    /* name styliing */
    nav .brand-logo {
        float: right;
        font-size: 20px;
        margin: auto;
        padding: 0 1px;
    }
    /* parrallax correction for my gif heights */
    .parallax-container {
        height: 200px;
    }
    /* margin correction for submit button */
    #submit-btn {
        margin-top: 20px;
    }
}